@import "tailwindcss";

:root {
  --gradient-1: linear-gradient(135deg, #060b26 94%, #1a1f37 0%);
  --gradient-2: linear-gradient(135deg, #060b28 74%, #0a0e23 71%);
  --gradient-3: linear-gradient(
    164deg,
    rgba(222, 200, 200, 1) 0%,
    rgba(15, 18, 38, 1) 0%,
    rgba(51, 56, 79, 1) 57%
  );
}

.bg-gradient-1 {
  background: var(--gradient-1);
}
.bg-gradient-2 {
  background: var(--gradient-2);
}
.bg-gradient-3 {
  background: var(--gradient-3);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-y: hidden;
}
